/* styles.css */

/* Import des styles de Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Style pour le titre */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }